
img {
    text-align: center;
    height: 100%;
    display: block;
    margin: 0px auto;
}

.Title {
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: #ecf0f1;
    font-size: 90px;
    margin: auto;
    text-align: center;
}

.CTitle {
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: #ecf0f1;
    font-size: 60px;
    margin: auto;
    text-align: center;
}

#T {
    font-size: 45px;
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: #ecf0f1;
}
#itle {
    font-size: 45px;
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: #ecf0f1;
}

#webplayer {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: black;
    text-align: center;
}

#controlbanner {
  text-align: center;
  width: 100%;
}

#player1 {
    font-size: 30px;
    color: #ecf0f1;
    width: 23%;
    display: inline-block;
    background-color: rgba(52,61,70, .4);
    text-align: left;
    vertical-align: center;
}

#controls {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 10px;
    font-family: Orbitron;
}

#player2 {
    font-size: 30px;
    color: #ecf0f1;
    width: 23%;
    display: inline-block;
    background-color: rgba(52,61,70, .4);
    text-align: right;
    vertical-align: center;
}

* {
  z-index: 5;
}

#particles-js {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}

html {
		background-image: url("../congruent_outline.png");
		background-attachment:fixed;
    height: 100%;
}

header {
    margin: auto;
    width: 100%;
    height: 100px;
}

a{
	text-decoration: none;
	color:#7f8c8d;
}


.line {
    height: 10px;
    /*margin-top: 25px;*/
    box-shadow: 0px 1px 450px rgba(0,0,0,.4);
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgba(247,249,252, 0.4);
}

.loading {
  display:none !important;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
}

.loading.show {
  display: block !important;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
}

#return {
    display: inline-block;
    background-color: rgba(247,249,252, 0.4);
    height: 34px;
    width: 100px;
    margin-left: -8px;
    text-align: center;
}

#return p {
    position: relative;
    bottom: 10px;
}
